


/*-----------------------------------------NAV BOX-------------------------------*/
@media screen {
.w_ss-1,.w_ss-2,.w_ss-3 {
  position: absolute;
  display: block;
  top: 9em;
  left:5em;
  width: 60%;
  font-size: 1.5em;
  animation-duration: 11s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color:white;
}

.w_ss-1{
  animation-name: anim-1;
}
.w_ss-2{
  animation-name: anim-2;
}
.w_ss-3{
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

.navbox{
  margin-top: 0.4in; 
  width: 100%;
  height: 480px;
}
  .tab{
  width: 300px;
  height: 3in;
  margin-left: 20px;
  margin-top: 90px;
}

.tab ul li {
  width: 265px;
  border: 1px solid #d4d2d2;
  font-size: 15px;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color:#f5f5f5 ;
}
.tab li:hover{
  background-color: #b1f0eb;
  text-decoration: none;
  color: black;  
}

.tab button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.tabans{
  float: left;
  margin-left: 1in;
  height: 4.5in;
  width: 550px;
  margin-top:5px;
}
.tabcontent {
  display: none;   
  width: 100%;
  height: 5in;
  border: 1px solid #e9f5f4;
  background-color: #f7fcfc;
}
#reb1{
  background-color: #0eddf0;
}
.rebtn{
  border: none;
  outline: none;
  background: none;
  background-color:#dae5e6;
  width: 85px;
  height: 30px;
  margin-top: 0.2in;
  margin-left: 45px;
  border-radius: 3px;
}
/*------------------------------------cus sup-------------------------------*/
.cus{
  width: 100%;
  height: 280px;
}
.cus img{
  width: 180px;
  height: 280px;
  margin-left: 100px;
  margin-top: 9px;
}
.cus1 h4 {
  text-decoration: underline;
}
.cus1 h1{
  font-size: 20px;
  color:#1d5cc2;
}
.cus1 {
  float: right;
  margin-top: 100px;
  margin-right: 2.45in;
}
.cus1 button{
  border: none;
  background:none;
  width: 1in;
  height: 38px;
  background-color: grey;
  border-radius: 5px;
}
.cus1 button:hover{
 background: -webkit-linear-gradient(left, #81d4eb, #1185a6); 
}
/*--------------------------JOIN   US----------------*/
.joinus{
  width: 100%;
  height: 17vh;
  margin-top: 10px;
}
.joinus img{
  height: 5.5vh;
  width: 5.5vh; 
}
.joinus span{
  margin-left: 1vh;
  margin-bottom: 3vh;
}
.joinus h2{
  color: skyblue;
  margin-left: 11vh; 
  margin-bottom: 2.5vh;
}
.subc{
  float: right;
  margin-right: 30px; 
  margin-top: -20px;
}
.subc h3{
  color: #344142;
  padding-bottom: 1.6vh;
}
.subc input {
  width: 50vh;
  height: 5vh;
}
.subc button{
  width: 18vh;
  height:5vh;
  border:none;
  border: 1px solid black;
  color: white;
  font-size:2vh;
  border-radius: 2px;
  outline: none;
  background-color: skyblue;
  font-family: "Arial";
}
.subc button:hover{
  background-color: black;
}





/*--------------------------footer---------------------*/
.foot {
  width: 100%;
  height: 300px;
  background-color: #262424;
 }
 .foot h4{
  color: #e6eded;
  font-family: "Lucida Console";
 }

.footc ul {
  width: 190px;
  text-decoration-line: none;
  list-style-type: none;
  text-align: left;
  padding-left:1vh;
  padding-top:1.5vh;
}
.foot li{
  padding-bottom: 1.5vh;
}

.foot a{
  color: #c4bcbc;
}
.foot a:hover{
  color: #55cee0;
  text-decoration-line: none;
}

.footc {
  width: 190px;
  float: left;
  margin-left: 60px;
}
.c1{
  margin-left: 20px;
}


}

